@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goblin+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Muli",sans-serif;
    
}

.navbar{
    background-color: #fff !important;

}

.nav-brand{
    font-size: 1.9rem !important;
    color: #26a5e0 !important;

}

.navbar a{
    font-size: 1.3rem;
    text-transform: capitalize;
    
}
.navbar a:hover{
    color: #0ba5f1 !important;
}

.menu_active{
    font-weight: bold;
   
}
@media(max-width: 991px){
    .nav-brand{
        font-size: 1.5rem !important;
    }

    .menu_active{
        font-weight: bold;
        border-bottom: none;
    }
}
.navbar a:hover{
    color: #3498db;
}
/*=====================================================================================================
#main landing section
================================================================================================*/

#home{
    width: 100%;
}

#home h1{
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    color: black;
}

#home .brand-name{
    color:#3498db;
}

#home h2{
    color:#484848;
    font-size: 24px;
}

#home .btn-get-Started{
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.5s;
    color: #3498db;
    border: 2px solid #3498db;
    text-decoration: none;
}
#home .btn-get-Started:hover{
    background: #3498db;
    color: #fff;
}

.home-img {
    text-align: right;
}

#home .animated{
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
@-webkit-keyframes up-down{
    0% {
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-10px);
        
    }
}
@keyframes up-down{
    0% {
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-10px);
        
    }
}
    /*=====================================================================================================
#About
================================================================================================*/

.Detail-font{
    font-family: 'Recursive', sans-serif;
    
    font-style:oblique;
    font-weight: bold;

    

}
.card{
   
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
   
    box-shadow: 0px 13px 10px -7px rgba(0,0,0,0.1);
    
  }
.card:hover{
    box-shadow:0px 30px 18px -8px rgba(0,0,0,0.1) ;
    transform: scale(1.05,1.05);
}


hr.sectiontitle-hr{
    width: 0%;
}